.main{
    background: #E7EBED;
    height: 100vh;
}

.settings{
    position: fixed;
    top: 10%;
    right: -2%;
    margin-left: 5px;
    background: none;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #FFFFFF;
    width: 60px;
    height: 30px;
    background-image: url("./images/gear.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
    box-shadow: 4px 4px 19px 0px rgba(0, 0, 0, 0.32);
}

.page{
    padding: 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}

.page__title{
    margin-top: 15px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.page__text{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 300;
    color: #40E272;
}