@import url(header.css);
@import url(main.css);
@import url(content.css);
@import url(language__menu.css);
@import url(main_menu.css);



body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}